{% extends 'shop/basic.html' %}

{% block title%} About Us {% endblock %}
{% block css%}
body {
  background-image: url("http://getwallpapers.com/wallpaper/full/b/a/9/751625-download-free-hd-texture-backgrounds-1920x1280-for-windows.jpg");
}
#info
{
margin: 25px 25px;
color:red;
padding: 25px 25px 25px

}
h3
{
font-family: "Times New Roman";
font-size: 40px
}



{% endblock %}


{% block body %}
<br><h3 align="center">About Us:</h3>
<div class="container">
    <div class=" row" >
        <h3 align="center" id = "info"> My Awesome cart was founded in June'19 by a Software Engineer. It was a startup project that soon found a solid place in the market.</h3>
        <br>

       <img src="https://img1a.flixcart.com/www/promos/new/20141125-225805-handbag.png" class="rounded mx-auto d-block"  alt="...">
    </div>

</div>




{% endblock %}